<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

	<form action = "codeInsert" method="post">
<!--		<label>코드seq</label>
		<input type="text" name = "seq"><br>-->
		
		<label>코드이름</label>
		<input type="text" name = "name"><br>
		
		<label>코드그룹seq</label>
		<input type="text" name = "codeGroup_seq"><br>

		<button type ="submit">저장</button>
	</form>
	

</body>
</html>